@import url('./fonts/silk-serif-bold/stylesheet.css');

.attendee-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.hidden {
  display: none;
}

.attendee-label {
  font-family: 'silk_serifbold';
  font-size: 1.4rem;
  margin: 1.5rem 0 0.5rem 0;
}

.attendee-input {
  width: 50%;
  border: 0;
  line-height: 2.25rem;
}
