@import url('./fonts/silk-serif-bold/stylesheet.css');

.attendee-form {
  width: 75vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.autocar-hidden {
  display: none;
}
.attendee-name {
  width: 25vw;
}

.attendee-label {
  font-family: 'silk_serifbold';
  font-size: 1.4rem;
  margin: 1rem 0 0 ;
}

.attendee-input {
  width: 50%;
  border: 0;
  line-height: 2.25rem;
}
