@import url("./fonts/silk-serif-bold/stylesheet.css");

.attendee-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.form-hidden {
  display: none;
}
.attendee-name {
  width: 25vw;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

.attendee-label {
  width: 100%;
  font-family: "silk_serifbold";
  font-size: 1.4rem;
  margin: 1rem 0.25rem 0 0.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.attendee-label input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: grey;
}

input,
textarea ::placeholder {
  color: grey;
  font-style: italic;
}

.attendee-label-cb {
  width: 100%;
  font-family: "silk_serifbold";
  font-size: 1.4rem;
  margin: 0.5rem;
  display: flex;
  align-items: end;
}

.autocar-label {
  display: flex;
  align-items: center;
}

.attendee-checkbox {
  background: white;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 0px;
  border-style: none;
}

.autocar-checkbox {
  background: white;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-style: none;
  border-radius: 0px;
}

.attendee-input {
  width: 50%;
  height: 5rem;
  border: 0;
}

.autocar-list {
  width: 7vw;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.autocar-line {
  height: 50%;
  border-bottom: 2px solid #434142;
  border-left: 2px solid #434142;
  width: 25%;
}

.autocar-icon {
  width: 5rem;
}

.sad-face{
  width: 1.75rem;
  margin: 0 0.35rem;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  width: 3rem;
}

.arrow-right {
  width: 3rem;
  transform: rotate(180deg);
}

.submit-btn {
  border: 5px solid white;
  padding: 4px;
  cursor: pointer;
  width: 13vw;
  margin: 2rem;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.25rem;
  align-self: center;
}

.submit-btn:hover{
  margin: 2rem 0 2rem 0;
  background-color: white;
}

.error-msg {
  color: red;
}

.success {
  width: 30vw;
  height: 5vw;
  margin: 2rem 0 0 0;
  background-color: white;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .submit-btn {
    width: 50vw;
  }
  .conf-open {
    width: 80vw;
  }

  .attendee-form {
    width: 80vw;
  }
  .attendee-name {
    width: 80vw;
  }
  .attendee-label {
    width: 80vw;
  }

  .attendee-label-cb {
    width: 80vw;
    margin: 0.25rem;
    align-items: flex-end;
  }

  .attendee-input {
    width: 80vw;
  }

  .attendee-checkbox {
    -moz-default-background-color: white;
    -webkit-default-background-color: white;
    background-color: white;
    border-style: none;
    height: 2rem;
    width: 2rem;
  }

  .autocar-list {
    width: 25vw;
  }

  .autocar-checkbox {
    height: 2rem;
    width: 2rem;
    -moz-default-background-color: white;
    -webkit-default-background-color: white;
    background-color: white;
    border-style: none;
  }

  .success {
    width: 75vw;
    height: 15vw;
  }
}
