@import url('./fonts/silk-serif-bold/stylesheet.css');

.divider {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider-text{
  font-family: 'silk_serifbold';
}

.divider-icon {
  color: #434142;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 767px) {
  .divider{
    height: 7vh;
  }

  .hide-icon {
    display: none;
  }
}