@import url('./fonts/silk-serif-bold/stylesheet.css');
.divider {
  width: 100vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider-text {
  font-family: 'silk_serifbold';
  margin: 0;
  margin-top: 1rem;
}

.divider-icon {
  color: #434142;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 767px) {
  .divider {
    height: 30vh;
}
}