@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
@import url('./fonts/silk-serif-bold/stylesheet.css');
#evento {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.event-header {
  border-top: 1.5px solid #434142;
  border-bottom: 1.5px solid #434142;
  display: flex;
}

.event-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
}

.event-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0.25rem 0.5rem;
}

.event-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 75vw;
  margin: 0 auto;
}

.event-details {
  width: 400px;
  margin: 1rem;
}

.info-title {
  font-family: 'silk_serifbold';
  display: flex;
  flex-direction: column;
}

.icon {
  margin: 0 1rem 0 0;
  width: 40px;
}

.info-text {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 1rem 0;
}

.time-date {
  width: 100%;
  border-top: 2px dashed #B5B6B7;
  border-bottom: 2px dashed #B5B6B7;
  padding: 0.15rem;
}

.location {
  font-family: 'silk_serifbold';
  margin: 0;
}

.address {
  font-size: 0.8rem;
}

.mobility-info {
  font-size: 0.8rem;
}

.map>a {
  text-decoration: underline;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .event-header {
    flex-direction: row;
  }
  .event-media {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .event-image {
    max-width: 400px;
    max-height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .event-header {
    flex-direction: column;
  }

  .event-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-image {
    max-width: 75vw;
    max-height: 350px;
  }
  .event-content {
    justify-content: center;
  }

  .info-title {
    align-items: center;
  }
}