@import url('./fonts/silk-serif-bold/stylesheet.css');
.hero {
  font-family: 'silk_serifbold';
  background-color: #EDEFED;
  display: flex;
  justify-content: center;
}

.hero-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: baseline
}

.hero-cover {
  max-width: 45vw;
  margin: 2rem;
}

.hero-text {
  max-width: 9rem;
  font-size: 1.75rem;
  line-height: 1.10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-img {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .hero-cover {
    max-width: 80vw;
    max-height: 30vh;
    margin: 0;
  }
  .hero-text {
    margin: 1rem;
    font-size: 1.5rem;
  }
  .hero-img {
    max-height: 30vh;
  }
}